<div class="container">
	<div class="row">
		<div class="col">
			<h4><a href="{{ '/' | relative_url }}" class="text-dark">{{ site.title }}</a></h4>
		</div>
	</div>
	<hr class="m-0" />
	<div class="row">
		<div class="col">
			<nav id="main-nav">
				<ul class="nav justify-content">
					{%- for link in site.data.navigation.main -%}
						{%- if link.url contains '://' -%}
							{%- assign url = link.url -%}
						{%- else -%}
							{%- assign url = link.url | relative_url -%}
						{%- endif -%}

						<li class="nav-item">
							<a href="{{ url }}" alt="{{ link.title }}" class="nav-link text-dark pl-0" >{{ link.title }}</a>
						</li>
					{%- endfor -%}
				</ul>
			</nav>
		</div>
	</div>
</div>