<!DOCTYPE HTML> {% if site.lang %}
<html lang="{{ site.lang }}">
{% else %}
<html>
{% endif %}
    <head>
        {% include analytics.html %}
        <meta charset="utf-8">
        
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        {% seo %}
    </head>
    <body>
        <body>
            <header class="mt-2">{% include header.html %}</header>				
            <div class="container">
                {{ content }}
            </div>
        </body>
    </body>
</html>
